.home{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  min-height:100%;

  &__title,
  &__cat-words,
  &__message-box{
    margin: 2rem 0;
  }
  &__title{

  }

  &__cat-words{

  }

  &__message-box{
    font-size: 1.5rem;

  }

  &__input--textarea{
    resize:none;
    height:25rem;
  }
}
