

//COLOR
$color-primary: #0A2037;


$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-grey-dark:#777;
$color-grey-dark-2: #999;
$color-grey-dark-3:#333;


$color-white:#fff;
$color-black:#000;

//BORDERS
$container-border-top:1rem solid orangered;

//NAVBAR
$nav-bar-height:6.5rem;

//PAGES
$pages-width-large:80%;
$pages-width-medium:50%;

$pages-padding: 4rem 3.5rem;


//FONT
$default-font-size: 1.5rem;

//GRID
$grid-width:114rem;
$gutter-verticle:8rem;
$gutter-horizontal:6rem;
