.NavBrand{
  color:white;
  font-size: 30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:20px;
  display:block;
  align-items:center;
  text-decoration: none;
  box-sizing:border-box;
}
