.NavBar{
  background-color: $color-black;
  font-weight: bold;
  position:fixed;
  top:0;
  left:0;
  height:$nav-bar-height;
  width:100%;
  display:flex;
  border-bottom:$bars-border;
  justify-content: space-between;

}
