.side-bar{
  position:sticky;
  float:left;
  top:$nav-bar-height;
  height:calc(100vh - #{$nav-bar-height});
  background-color: $color-grey-dark;
  border-right:$bars-border;
  width:$side-bar-width;
  &__paragraph{
    color:$color-white;
  }
}
