.side-bar{
  position:sticky;
  float:left;
  top:0;
  height:100vh;
  background-color: $color-grey-dark;
  border-right:$bars-border;
  transition:all 1s ease;

  &__paragraph{
    color:$color-white;
  }
  &--width-small{
    width:20%;
  }

  &--width-medium{
    width:$side-bar-width;
  }
}
