.side-bar{
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  background-color: rgba($color-grey-dark-2,.1);
  color:$color-white;
  border-right:$bars-border;
  transition:all 1s ease;
  width:calc(100% - #{$pages-width-medium});

  &--width-medium{
    width:calc(100% - #{$pages-width-medium});
  }
  &--width-small{
    width:calc(100% - #{$pages-width-large});
  }
}
