.main{
  margin-top:$nav-bar-height;
  background-color: $color-grey-light-2;
  position:relative;
  @include clearfix;

  &__pages{
  float:left;
  padding:5rem;
  // margin-left: $side-bar-width;
  width:calc(100% - #{$side-bar-width});

  }


}
