.pages{
  &__container{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  overflow-y:scroll;
  padding:4rem 3.5rem;
  transition: all 1s ease;


  }
  &__width-large{
    width:80%;
  }

  &__width-medium{
    width:50%;
  }

  &__content{
    min-height: 100vh;
  }
}
