.NavBarItem{
  display:flex;
  align-items: center;

  height:100%;
}
.NavBarItem a{
  padding: calc(#{$nav-bar-height}/3) 2rem;
  height:100%;
  color:$color-white;
  text-decoration: none;
  display:block;
}
.NavBarItem a:hover,
.NavBarItem a.active{
  background-color:grey;
  border-bottom: .4rem solid lightgreen;
}
