.NavBarItem{
  display:flex;
  align-items: center;

  height:100%;
}
.NavBarItem a{
  padding: calc(#{$nav-bar-height}/3) 2rem;
  height:100%;
  color:$color-white;
  text-decoration: none;
  display:block;
  transition:background-color 0.2s ease;
}
.NavBarItem a:hover,
.NavBarItem a.active{
  background-color:grey;
  border-bottom: 0.4rem solid lightgreen;
}

.NavBarItem a.active{
  pointer-events: none;
}
